@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

footer {
  color: #fff;
  text-align: center;
  background: #333;
  padding: 24px 0;
}

footer a {
  color: #fff;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 8px;
}

footer h3 {
  margin-bottom: 16px;
}

footer p {
  margin: 0;
}
